<html>
<head>
<title>Error</title>
<script>function goBack() {window.history.back();}</script>
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"/>
</head>
<body>
<div class="w3-container">
<header class="w3-container w3-teal">
  <h1>Error</h1>
</header>

<label class="w3-label w3-validate">You are not allowed to delete/edit!</label>

<br>
<a href="/">
  <button class="w3-btn w3-section w3-teal w3-ripple" onclick="goBack()">Back</button>
</a>

</div>
</body>
<footer>
<hr/>
Owned by Cecilia & Julian
</footer>
</html>
